asgiref==3.9.2
beautifulsoup4==4.14.0
crispy-bootstrap5==2025.6
Django==4.2.24
django-bootstrap-v5==1.0.11
django-crispy-forms==2.4
django-environ==0.12.0
environs==14.3.0
gunicorn==23.0.0
marshmallow==4.0.1
packaging==25.0
python-dotenv==1.1.1
soupsieve==2.8
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.11.0
